.square {  
    width: 100px;
    height: 100px;
    background: rgba(15, 209, 41, 0.5);
    margin: 10px;
  }
ion-toolbar{
  background-color: #007bff;
}
ion-button{
  background-color: #ffc107;
}
ion-header{
  background-color: #007bff;
}
ion-card-title{
  color: #ffc107;
}